.packed-web{
	padding: 50px 0px;
	/* background: #ffe5e6; */
}
.packed-title{
	text-align: center;
}
.packed-title h2{
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.packed-title p{
	font-size: 16px;
}
.packed-desc{
	margin-top: 20px;
}

.full-package-web{
	background: #f7f7f7;
	margin-top: 40px;
	padding-bottom: 70px;
}
.list-package{
	list-style: none;
	display: flex;
	justify-content: center;
	top: -12px;
	position: relative;
	margin-bottom: 40px;
}
.list-package li{
	min-width: 294px;
	margin: 0px 2px;
	height: 45px;
	background: url('../images/noactive-package.png') no-repeat center;
	background-size: cover;
	padding: 10px 0px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 45px;
	cursor: pointer;
	transition: all 0.2s;
}

.list-package li.active,.list-package li:hover{
	background: url('../images/active-package.png') no-repeat center;
	color: #FFF;
}
.content-package{
	max-width: 1180px;
	margin: 20px auto;
}

.content-package *{
	box-sizing: border-box;
}
.row-package{
	margin: 0px -25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.col-package{
	width: calc(100% / 3);
	padding: 0px 25px;
}
.wrap-package{
	background: #FFF;
	overflow: hidden;
	box-shadow: 1px 1px 10px 4px #eff2f5;
}
.wrap-package ul{
	padding: 23px 23px 0px 23px;
}
.wrap-package ul li{
	display: flex;
	padding: 11px 0px 10px;
	justify-content: space-between;
}
.wrap-package ul li:not(:last-child){
	border-bottom: 1px solid #e0e2e6;
}
.wrap-package ul li span{
	display: inline-block;
	width: 28px;
	text-align: center;
	margin-right: 5px;
}
.wrap-package ul li h3{
	width: calc(100% - 33px);
	font-size: 16px;
}
/*header-package-one.png*/
.wrap-package .header-title{
	width: 100%;
	text-align:center;
	padding: 43px 0px;
	font-size: 30px;
	color: #FFF;
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
}
.wrap-package .header-title:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 35px;
    width: 55px;
    background: #fff;
    margin: 0 auto;
    height: 4px;
}
.wrap-package .header-title.cl-1{
	background: rgb(87,94,168);
}
.wrap-package .header-title.cl-2{
	background: rgb(56,159,197);
}
.wrap-package .header-title.cl-3{
	background: rgb(255,76,35);
}
.btn-support{
	width: 100%;
	height: 83px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-support.cl-1 a{
	background: rgb(87,94,168);
}
.btn-support.cl-2 a{
	background: rgb(56,159,197);
}
.btn-support.cl-3 a{
	background: rgb(255,76,35);
}
.btn-support .btn-views{
	color: #FFF;
	padding: 10px 25px;
	/* border: 1px dashed #FFF; */
	border-radius: 30px;
	font-size: 16px;
	position: relative;
	-webkit-transition: all 04s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-support .btn-views span:nth-child(3) {
	opacity: 0;
    -webkit-transition: all 04s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:rgba(255,255,255,0.3);
	position: absolute;
    right: 7px;
    top: 7px;
}
.btn-support .btn-views:hover {
	padding: 10px 45px 10px 25px;
}
.btn-support .btn-views:hover  span:nth-child(3) {
	opacity: 1;
}
.packed-sub {
	margin-top: 60px;
}
.packed-sub h2{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #cb1e1e;
}
.package-tab{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.package-tab li{
	padding: 10px 20px 8px;
	margin: 0px 10px;
	border: 1px solid #c30e13;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 22px;
	min-width: 120px;
	text-align: center;
	transition: all 0.3s;
	position: relative;
	background: #c30e13;
	color: #FFF;
	border-radius: 40px;
}
.package-tab li:hover{
	
}
.package-tab li:before {
    content: "";
    border-radius: 45px;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.04);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.package-tab li:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.package-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.package-box .package-col{
	width: 22%;
}
.package-box .package-col:nth-child(1){
	width: 34%;
}
.package-box ul{
	list-style: none;
}
.package-box li{
	padding: 7px 20px;
	border-bottom: 1px solid #FFF;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
}
.package-box li:nth-child(1){
	padding: 20px 20px;
	text-align: center;
	font-size: 20px;
}
.package-box li:nth-child(1) h2{
	font-size: 20px;
}
.package-box .package-col:nth-child(1) {
	background: #F5F5F5;
}
.package-box .package-col:nth-child(1) .bg-odd{}
.package-box .package-col:nth-child(1) .bg-even{}
.package-box .package-col:nth-child(1) li:nth-child(1){
	background: #31b406;
	color: #FFF;
}

.package-box .package-col:nth-child(2) {
	background: #FFF3E3;
}
.package-box .package-col:nth-child(2) .bg-odd{
    background: #FFF3E3;
}
.package-box .package-col:nth-child(2) .bg-even{
    background: #FFF7EC;
}
.package-box .package-col:nth-child(2) li:nth-child(1){
	background: #FCAF42;
	color: #FFF;
}

.package-box .package-col:nth-child(3) {
	background: #E9F3FA;
}
.package-box .package-col:nth-child(3) .bg-odd{
    background: #DEEDF7;
}
.package-box .package-col:nth-child(3) .bg-even{
    background: #E9F3FA;
}
.package-box .package-col:nth-child(3) li:nth-child(1){
	background: #2189C7;
	color: #FFF;
}

.package-box .package-col:nth-child(4) {
	background: #DCE5ED;
}
.package-box .package-col:nth-child(4) .bg-odd{
    background: #ffe4e4;
}
.package-box .package-col:nth-child(4) .bg-even{
    background: #fff0f0;
}
.package-box .package-col:nth-child(4) li:nth-child(1){
	background: #cb1e1e;
	color: #FFF;
}
.package-box .text-left{
	text-align: left;
}
.package-box .text-center{
	text-align: center;
}
.package-box li:last-child{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.package-box .package-col a{
	padding: 5px 20px;
	color: #FFF;
	display: block;
	width: 100%;
	border: 1px dashed #cb1e1e;
	background: #cb1e1e;
	border-radius: 30px;
}
.nina-popup-info-over {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.6s;
}
.nina-popup-info-over.opacity {
    opacity: 0;
    z-index: -1
}
.nina-popup-info-over.opacity.on {
    opacity: 1;
    z-index: 99909
}
.nina-popup-info-over.opacity .nina-popup-info-form {
    transform: translateY(-100px)
}
.nina-popup-info-over.opacity.on .nina-popup-info-form {
    transform: translateX(0px)
}
#pk_web input.input{
	font-size: 14px;
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 20px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
#pk_web textarea.noidung {
    font-size: 14px;
    width: 100%;
    height: 105px;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.error-text {
    font-size: 12px;
	margin: 0px;
    margin-top: 5px;
	color: #dc3545;
}
.nina-popup-info-form {
    background: #FFF;
    max-width: 520px;
    position: relative;
    transition: all 1.3s;
    margin: 70px 10px;
}
.nina-popup-header-info {
    padding: 10px 20px;
    background: #c5122a;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    position: relative;
}
.nina-popup-header-info .close-info {
    cursor: pointer
}
.nina-popup-content-info {
    padding: 30px;
    min-height: 150px;
    max-height: calc(100% - 62px);
    overflow: auto;
    line-height: 25px;
}
.name-send {
    cursor: pointer;
    display: inline-block;
    font-size: 20px
}
.close-send {
    padding: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    position: absolute;
    right: -10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 50%;
    top: -10px;
}
.nina-popup-content-info::-webkit-scrollbar {
    width: 10px
}
.nina-popup-content-info::-webkit-scrollbar-track {
    background: #f1f1f1
}
.nina-popup-content-info::-webkit-scrollbar-thumb {
    background: #888
}
.nina-popup-content-info::-webkit-scrollbar-thumb:hover {
    background: #555
}
.nina-popup-content-info table {
    width: 100%;
    border-collapse: collapse
}
.nina-popup-content-info table td {
    border-bottom: 1px dotted #ddd;
    padding: 8px 0px
}
.row-package-x input[type="text"]{
	height: 40px;
	padding: 5px 10px;
	font-size: 14px;
}
.row-package-x textarea.noidung{
	height: 90px;
	padding: 5px 10px;
	font-size: 14px;
}
.row-package-x input[type="text"]::-webkit-input-placeholder,.row-package-x textarea.noidung::-webkit-input-placeholder { /* Edge */
  font-size: 14px;
}

.row-package-x input[type="text"]:-ms-input-placeholder , .row-package-x textarea.noidung:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 14px;
}

.row-package-x input[type="text"]::placeholder ,.row-package-x textarea.noidung::placeholder {
  font-size: 14px;
}
.row-package-x label{
	font-size: 14px;
	margin-bottom: 10px;
}
.row-package-x label span{
	color: #FF0000;
}
input.submit-package {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 6px 20px 5px;
    border: 1px solid #c5122a;
    border-radius: 4px;
    cursor: pointer;
    background: #c5122a;
    text-transform: uppercase;
}
@media screen and (max-width: 1090px){
	.row-package{
		margin: 0px -10px;
	}
	.col-package {
	    padding: 0px 10px;
	}
}

@media screen and (max-width: 992px){
	.list-package li {
	    min-width: auto;
	    height: 45px;
	    padding: 10px 20px;
	    font-size: 24px;
	    line-height: 45px;
	    margin: 0px 10px;
	    border-top-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	}
}
@media screen and (max-width: 890px){
	.content-package{
		max-width: 600px;
	}
	.col-package {
		width: calc(100% / 1);
		padding: 0px 25px;
		margin-bottom: 30px;
	}
	.btn-support.cl-1{
		background: rgb(87,94,168);
        background: linear-gradient(90deg, rgba(87,94,168,1) 0%, rgba(87,109,205,1) 50%, rgba(87,94,168,1) 100%);
	}
	.btn-support.cl-2{
		background: rgb(56,159,197);
        background: linear-gradient(90deg, rgba(56,159,197,1) 0%, rgba(50,191,243,1) 50%, rgba(56,159,197,1) 100%);
	}
	.btn-support.cl-3{
		background: rgb(255,76,35);
        background: linear-gradient(90deg, rgba(255,76,35,1) 0%, rgba(255,171,73,1) 50%, rgba(255,76,35,1) 100%);
	}
	.btn-support .btn-views {
    margin-top: 0px;
}
}
@media screen and (max-width: 769px){
	.package-box li{
		padding: 7px 10px;
	}
	.package-box li:nth-child(1){
		padding: 15px 10px;
	}
	.package-box li h3{
		font-size: 14px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.package-box .package-col a {
		padding: 1px 10px;
	}
	.list-package li {
	    min-width: auto;
	    height: 30px;
	    padding: 10px 20px;
	    line-height: 30px;
	    margin: 0px 10px;
	    font-size: 18px;
	    border-top-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	}
	.wrap-package .header-title{
		width: 100%;
		text-align:center;
		padding: 33px 0px;
		font-size: 30px;
		transition: all 0.3s;
		color: #FFF;
		text-transform: uppercase;
	}
	.list-package{
		margin-bottom: 20px;
		width: 100%;
		justify-content: space-around;
	}
	.wrap-package .header-title:before {
		display:none;
	}
}
@media screen and (max-width: 600px){
	.package-box .package-col a span:nth-child(2){
		display: none;
	}
	.package-box .package-col a {
		padding: 1px 5px;
		font-size: 12px;
	}
	.list-package {
	    margin-bottom: 10px;
	}
	.list-package li {
	    min-width: auto;
	    height: 30px;
	    padding: 5px 10px;
	    font-size: 15px;
	    line-height: 30px;
	    margin: 0px 5px;
	    border-top-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	}
	.wrap-package .header-title {
	    padding: 20px 0px;
	    font-size: 24px;
	}
	.name-send {
	    cursor: pointer;
	    display: inline-block;
	    font-size: 18px;
	}
	#design .items {
	    width: calc(100% / 2);
	}
}
@media screen and (max-width: 420px){
	.list-package li {
	    height: auto;
	    padding: 5px 10px;
	    font-size: 13px;
	}
}